mat-sidenav{
  background: #A8DADC;
  width: 230px;
  height: 100%;
}
mat-sidenav-content{
  height: 100vh;

  .main{
      margin-left: 0px;
  }
}
mat-toolbar{
  background: #FBF8F1;
  mat-icon{
      margin-left: 15px;
      color: #6D8299;

  }
  justify-content: space-between;
  .box{
      margin-top: 15px;
  }
}