<mat-card class="card-greater mat-elevation-z0 outline"> 
    <mat-card-content>
      <div fxLayout="column">
        <div fxLayout="row">
          <div class = "me" fxLayout="column" fxFlex="100" fxLayoutAlign="center center">
            <div fxLayout="column" fxFlexFill  fxLayoutAlign="center center">
              <p class="dashboard-card-content-greater" [ngStyle.lt-sm]="{'font-size': '.9rem'}" [ngStyle.gt-sm]="{'font-size': '1.4rem'}">
                Interested in working together? We should 
                queue up a time to chat. I’ll buy the coffee. 
              </p>
                <a routerLink="contact-form" routerLinkActive="active">
                  <button mat-flat-button>Let’s do this!<img src="\assets\img\point_button.png" alt=""></button>
                </a>
            </div>
          </div>
          </div>
        </div>
    </mat-card-content>
  </mat-card>
