<mat-card class="card-greater mat-elevation-z0 outline" fxShow fxHide.lt-md="true" fxHide.gt-md="false">
    <mat-card-content>
      <div fxLayout="column">
        <div fxLayout="row">
          <div class = "me" fxLayout="column" fxFlex="100" fxLayoutAlign="center center">
            <div fxLayout="row" fxFlexFill  fxLayoutAlign="center center">
              <p class="dashboard-card-content-greater">After working over 5 years for an agency as a fullstack developer  
                Now I'm preffer to keep learning and continue challenging myself by helping designers, individuals and small 
                businesses to bring their ideas to life at afforable prices on time and on budget.</p></div>
                <div  fxLayout="row" fxFlex="100%" fxFlexFill  fxLayoutAlign="center center"><img src="\assets\img\logo.png" alt="Eder Software developer"></div>
          </div>
          </div>
        </div>
    </mat-card-content>
  </mat-card>
