<div class="container" fxShow fxHide.xs="false" fxHide.gt-sm="true">
    <mat-card class="card-design">
        <mat-card-content>
            <div fxLayout="column">
              <div class="title" fxLayout="row" fxLayoutAlign="start center">Jalisco con empleo</div> 
              <mat-divider></mat-divider>
             <div  fxLayout="row" fxFlex="250px" fxLayoutAlign="center center">
              <img class="preview-img-small" src="\assets\img\MockJcESmall.png" alt="JcE project">
            </div>   
            <div class ="sub-title-project" fxLayout="row" fxLayoutAlign="start center">
              <p> JcE is anon-profit app designed to connect different services providers with potential 
                clientes through a UI created thinking in non digital people.</p>
         </div>  
        <div fxLayout="row" >
            <div class="tools-name" fxLayout="column" fxFlex="50" fxFlexFill  fxLayoutAlign="space-between strech">
              <div fxLayout="row"  fxLayoutAlign="end center">Angular </div>
              <div fxLayout="row"  fxLayoutAlign="end center">API </div>
              <div fxLayout="row"  fxLayoutAlign="end center">PostgreSQL </div>
            </div>
            <div class="tools-area" fxLayout="column" fxFlex="50" fxFlexFill  fxLayoutAlign="space-between strech">
                <div fxLayout="row"   fxLayoutAlign="start center"> Frontend</div>
              <div fxLayout="row"   fxLayoutAlign="start center"> Python Slack</div>
              <div fxLayout="row"   fxLayoutAlign="start center"> Design and implementation</div>
          </div>
        </div>
              <div class="project-desc" fxLayout="row"  fxLayoutAlign="center center">
              </div>
        </div>
          </mat-card-content>
      </mat-card>


      <mat-card class="card-design">
        <mat-card-content>
            <div fxLayout="column">
              <div class="title" fxLayout="row" fxFlex="50px"  fxLayoutAlign="start center">Blintegra</div>
              <div fxLayout="row" fxFlex="250px" fxLayoutAlign="center center">
                <img class="preview-img-small" src="\assets\img\MockBlintegraSmall.png" alt="Blintegra project">
              </div>   
              <div class ="sub-title-project" fxLayout="row" fxLayoutAlign="start center">
                <p> JcE is anon-profit app designed to connect different services providers with potential 
                  clientes through a UI created thinking in non digital people.</p>
           </div>  
        <div fxLayout="row" >
            <div class="tools-name"  fxLayout="column" fxFlex="50" fxFlexFill  fxLayoutAlign="space-between strech">
              <div fxLayout="row" fxLayoutAlign="end center">Boostrap </div>
            </div>
            <div class="tools-area"  fxLayout="column" fxFlex="50" fxFlexFill  fxLayoutAlign="space-between strech">
                <div fxLayout="row" fxLayoutAlign="start center"> Frontend</div>
          </div>
        </div>
              <div class="project-desc" fxLayout="row"  fxLayoutAlign="center center">
          </div>
        </div>
          </mat-card-content>
      </mat-card>
</div>

<div class="container" fxShow fxHide.gt-sm="false" fxHide.lt-md="true">
  <mat-card class="card-design">
    <mat-card-content>
        <div fxLayout="row" >
          <div fxFlex="30"   fxLayoutAlign="end strech">
            <div class="title-big"  fxLayout="row"  fxLayoutAlign="end start">Jalisco con empleo</div>
          </div>
          <div fxFlex="70" fxFlexOffset="10" fxLayoutAlign="center center">
            <div fxLayout="column">
                <div fxLayout="row" >
                  <div fxLayout="column" fxFlex="100" fxFlexFill  fxLayoutAlign="space-between strech">

                    <div fxLayout="row" fxFlex="250px" fxLayoutAlign="center center">
                      <img class="preview-img-big" src="\assets\img\Group3jceBig.png" alt="Blintegra project">
                    </div>   
                  </div>
                </div>
                <div class="portfolio-text-big" fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
                  JcE is anon-profit app designed to connect different services providers with potential 
                  clientes through a UI created thinking in non digital people.
                </div>
                <div fxLayout="row"  fxLayoutAlign="center center">
                  <div class="tools-name-big"  fxLayout="column" fxFlex="50" fxFlexFill  fxLayoutAlign="space-between strech">
                    <div fxLayout="row" fxLayoutAlign="end center">Angular </div>
                    <div fxLayout="row" fxLayoutAlign="end center">API </div>
                    <div fxLayout="row" fxLayoutAlign="end center">PostreSQL </div>
                  </div>
                  <div class="tools-area-big"  fxLayout="column" fxFlex="50" fxFlexFill  fxLayoutAlign="space-between strech">
                      <div fxLayout="row" fxLayoutAlign="start center"> Frontend</div>
                      <div fxLayout="row" fxLayoutAlign="start center"> Pythin Slack</div>
                      <div fxLayout="row" fxLayoutAlign="start center"> Design and implementation</div>
                </div>
                </div>
              </div>
          </div>
        </div>
    </mat-card-content>   
  </mat-card>

  <mat-card class="card-design">
    <mat-card-content>
        <div fxLayout="row" >
          <div fxFlex="30"   fxLayoutAlign="end strech">
            <div class="title-big"  fxLayout="row"  fxLayoutAlign="end start">Blintegra</div>
          </div>
          <div fxFlex="70" fxFlexOffset="10" fxLayoutAlign="center center">
            <div fxLayout="column">
                <div fxLayout="row" >
                  <div fxLayout="column" fxFlex="100" fxFlexFill  fxLayoutAlign="space-between strech">

                    <div fxLayout="row" fxFlex="250px" fxLayoutAlign="center center">
                      <img class="preview-img-big" src="\assets\img\Lightblintegra.png" alt="Blintegra project">
                    </div>   
                  </div>
                </div>
                <div class="portfolio-text-big" fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
                  JcE is anon-profit app designed to connect different services providers with potential 
                  clientes through a UI created thinking in non digital people.
                </div>
                <div fxLayout="row"  fxLayoutAlign="center center">
                  <div class="tools-name-big"  fxLayout="column" fxFlex="50" fxFlexFill  fxLayoutAlign="space-between strech">
                    <div fxLayout="row" fxLayoutAlign="end center">Boostrap </div>
                  </div>
                  <div class="tools-area-big"  fxLayout="column" fxFlex="50" fxFlexFill  fxLayoutAlign="space-between strech">
                      <div fxLayout="row" fxLayoutAlign="start center"> Frontend</div>
                </div>
                </div>
              </div>
          </div>
        </div>
    </mat-card-content>   
  </mat-card>
</div>