<div class="container" fxShow fxHide.xs="false" fxHide.gt-sm="true">
<mat-card class="card-design">
    <!-- content -->
    <mat-card-content>
      <div fxLayout="column">
        <!-- Column-1 -->
        <div class="title" fxLayout="row" fxFlex="50px" fxLayoutAlign="start center">Design tools</div>
        <!-- Column-2 -->
        <div fxLayout="row" >
          <!-- Column-2 Row-1-->
          <div fxLayout="column" fxFlex="100" fxFlexFill  fxLayoutAlign="space-between strech">
            <div  class ="title-tool" fxLayout="row" fxFlex="20px"fxLayoutAlign="center center">aaa</div>
          </div>
        </div>
        <!-- Column-3 -->
        <div class="card-text" fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
            Design and create mockups, and then turn those designs into an interactive prototype to collect feedback.
        </div>
        <div fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
            <img  src="\assets\img\arte-digital.png" alt="digital art">
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-design">
    <!-- content -->
    <mat-card-content>
      <div fxLayout="column">
        <!-- Column-1 -->
        <div class="title" fxLayout="row" fxFlex="50px"  fxLayoutAlign="start center">Frontend</div>
        <!-- Column-2 -->
        <div fxLayout="row" >
          <!-- Column-2 Row-1-->
          <div fxLayout="column" fxFlex="100" fxFlexFill  fxLayoutAlign="space-between strech">
            <div class ="title-tool" fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">HTML</div>
            <div class ="title-tool" fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">CSS</div>
            <div class ="title-tool" fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">JS(ES6+)</div>
            <div class ="title-tool" fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">React</div>
            <div class ="title-tool" fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">Angular</div>
            <div class ="title-tool" fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">Boostrap</div>
            <div class ="title-tool" fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">Material</div>
        </div>
    </div>
        <!-- Column-3 -->
        <div class="card-text" fxLayout="row" fxFlex="50px"  fxLayoutAlign="center center">
            My main focus these days is designing and building fast, responsive and easy to use sites.
        </div>
        <div fxLayout="row"   fxLayoutAlign="center center">
            <img  src="\assets\img\ux-design.png" alt="Frontend">
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  
  <mat-card class="card-design">
    <!-- content -->
    <mat-card-content>
      <div fxLayout="column">
        <!-- Column-1 -->
        <div class="title"  fxLayout="row" fxFlex="50px"  fxLayoutAlign="start center">Backend</div>
        <!-- Column-2 -->
        <div fxLayout="row" >
          <!-- Column-2 Row-1-->
          <div fxLayout="column" fxFlex="100" fxFlexFill  fxLayoutAlign="space-between strech">
            <div class ="title-tool"  fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">Node.Js</div>
            <div class ="title-tool"  fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">Python</div>
            <div class ="title-tool"  fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">Flask</div>
          </div>
        </div>
        <!-- Column-3 -->
        <div class="card-text" fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
            I like to think that I contribute to make things easier for you. Don't worry about programing languages, 
            API integration and Workflow automation. I got this.
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <img  src="\assets\img\servidor.png" alt="Backend">
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-design">
    <!-- content -->
    <mat-card-content>
      <div fxLayout="column">
        <!-- Column-1 -->
        <div class="title"  fxLayout="row" fxFlex="50px"  fxLayoutAlign="start center">Database</div>
        <!-- Column-2 -->
        <div fxLayout="row" >
          <!-- Column-2 Row-1-->
          <div fxLayout="column" fxFlex="100" fxFlexFill  fxLayoutAlign="space-between strech">
            <div class ="title-tool"  fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">MySQL</div>
            <div class ="title-tool"  fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">Oracle</div>
            <div class ="title-tool"  fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">PostreSQL</div>
          </div>
        </div>
        <!-- Column-3 -->
        <div class="card-text" fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
            Design and develop the best suitabble database for your project. 
            I also like  to work  and improve existing databases.
        </div>
        <div fxLayout="row"  fxLayoutAlign="center center">
            <img  src="\assets\img\nueva-base-de-datos.png" alt="Database">
        </div>
      </div>
    </mat-card-content>
  </mat-card>

<!--   <mat-card class="card-design">

    <mat-card-content>
      <div fxLayout="column">

        <div fxLayout="row" fxFlex="50px" style="background-color: #74edfd" fxLayoutAlign="start center">Design tools</div>

        <div fxLayout="row" >

          <div fxLayout="column" fxFlex="50" fxFlexFill style="background-color: #fd7474" fxLayoutAlign="space-between strech">
            <div fxLayout="row" fxFlex="20px" style="background-color: #ffa1a1" fxLayoutAlign="center center">column2-1 row1</div>
            <div fxLayout="row" fxFlex="20px" style="background-color: #ffa1a1" fxLayoutAlign="center center">column2-2 row1</div>
            <div fxLayout="row" fxFlex="20px" style="background-color: #ffa1a1" fxLayoutAlign="center center">column2-3 row1</div>
            <div fxLayout="row" fxFlex="20px" style="background-color: #ffa1a1" fxLayoutAlign="center center">column2-3 row1</div>
          </div>
          <div fxLayout="column" fxFlex="50" fxFlexFill style="background-color: #fd7474" fxLayoutAlign="space-between strech">
            <div fxLayout="row" fxFlex="20px" style="background-color: #ffa1a1" fxLayoutAlign="center center">column2-3 row1</div>
            <div fxLayout="row" fxFlex="20px" style="background-color: #ffa1a1" fxLayoutAlign="center center">column2-3 row1</div>
            <div fxLayout="row" fxFlex="20px" style="background-color: #ffa1a1" fxLayoutAlign="center center">column2-3 row1</div>
        </div>
        </div>

        <div fxLayout="row" fxFlex="50px" style="background-color: #74edfd" fxLayoutAlign="center center">Design tools</div>
        <div fxLayout="row" fxFlex="50px" style="background-color: #74edfd" fxLayoutAlign="center center">Design tools</div>
      </div>
    </mat-card-content>
  </mat-card> -->
</div>


<div class="container" fxShow fxHide.gt-sm="false" fxHide.lt-md="true">

    <mat-card class="card-big">
        <mat-card-content>
            <div fxLayout="row" >
              <div fxFlex="30"   fxLayoutAlign="end strech">
                <div class="title-big"  fxLayout="row"  fxLayoutAlign="end start">Design</div>
              </div>
              <div fxFlex="70" fxFlexOffset="10" fxLayoutAlign="center center">
                <div fxLayout="column">
                    <div fxLayout="row" >
                      <!-- Column-2 Row-1-->
                      <div fxLayout="column" fxFlex="100" fxFlexFill  fxLayoutAlign="space-between strech">
                        <div class ="title-tool-big"  fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">Figma</div>
                      </div>
                    </div>
                    <!-- Column-3 -->
                    <div class="card-text-big" fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
                        Design and create mockups, and then turn those designs into an interactive prototype to collect feedback.
                    </div>
                    <div fxLayout="row"  fxLayoutAlign="center center">
                        <img  src="\assets\img\arte-digital.png" alt="digital art">
                    </div>
                  </div>
              </div>
            </div>
        </mat-card-content>   
      </mat-card>

      <mat-card class="card-big">
        <mat-card-content>
            <div fxLayout="row" >
              <div fxFlex="30"   fxLayoutAlign="end strech">
                <div class="title-big"  fxLayout="row"  fxLayoutAlign="end start">Frontend</div>
              </div>
              <div fxFlex="70" fxFlexOffset="10" fxLayoutAlign="center center">
                <div fxLayout="column">
                    <div fxLayout="row" >
                      <!-- Column-2 Row-1-->
                      <div fxLayout="column" fxFlex="100" fxFlexFill  fxLayoutAlign="space-between strech">
                        <div class ="title-tool-big"  fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">HTML</div>
                        <div class ="title-tool-big"  fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">CSS</div>
                        <div class ="title-tool-big"  fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">JS(ES6+)</div>
                        <div class ="title-tool-big"  fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">React</div>
                        <div class ="title-tool-big"  fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">Angular</div>
                        <div class ="title-tool-big"  fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">Boostrap</div>
                        <div class ="title-tool-big"  fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">Material</div>
                      </div>
                    </div>
                    <!-- Column-3 -->
                    <div class="card-text-big" fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
                        My main focus these days is designing and building fast, responsive and easy to use sites.
                    </div>
                    <div fxLayout="row"  fxLayoutAlign="center center">
                        <img  src="\assets\img\ux-design.png" alt="Frontend">
                    </div>
                  </div>
              </div>
            </div>
        </mat-card-content>   
      </mat-card>

      <mat-card class="card-big">
        <mat-card-content>
            <div fxLayout="row" >
              <div fxFlex="30"   fxLayoutAlign="end strech">
                <div class="title-big"  fxLayout="row"  fxLayoutAlign="end start">Backend</div>
              </div>
              <div fxFlex="70" fxFlexOffset="10" fxLayoutAlign="center center">
                <div fxLayout="column">
                    <div fxLayout="row" >
                      <!-- Column-2 Row-1-->
                      <div fxLayout="column" fxFlex="100" fxFlexFill  fxLayoutAlign="space-between strech">
                        <div class ="title-tool-big"  fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">Node.Js</div>
                        <div class ="title-tool-big"  fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">Python</div>
                        <div class ="title-tool-big"  fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">Flask</div>
                      </div>
                    </div>
                    <!-- Column-3 -->
                    <div class="card-text-big" fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
                        I like to think that I contribute to make things easier for you. Don't worry about programing languages, 
                        API integration and Workflow automation. I got this.
                    </div>
                    <div fxLayout="row"  fxLayoutAlign="center center">
                        <img  src="\assets\img\servidor.png" alt="Backend">
                    </div>
                  </div>
              </div>
            </div>
        </mat-card-content>   
      </mat-card>

      <mat-card class="card-big">
        <mat-card-content>
            <div fxLayout="row" >
              <div fxFlex="30"   fxLayoutAlign="end strech">
                <div class="title-big"  fxLayout="row"  fxLayoutAlign="end start">Database</div>
              </div>
              <div fxFlex="70" fxFlexOffset="10" fxLayoutAlign="center center">
                <div fxLayout="column">
                    <div fxLayout="row" >
                      <!-- Column-2 Row-1-->
                      <div fxLayout="column" fxFlex="100" fxFlexFill  fxLayoutAlign="space-between strech">
                        <div class ="title-tool-big"  fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">MySQL</div>
                        <div class ="title-tool-big"  fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">Oracle</div>
                        <div class ="title-tool-big"  fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">PostreSQL</div>
                      </div>
                    </div>
                    <!-- Column-3 -->
                    <div class="card-text-big" fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
                        Design and develop the best suitabble database for your project. 
                        I also like  to work  and improve existing databases.
                    </div>
                    <div fxLayout="row"  fxLayoutAlign="center center">
                        <img  src="\assets\img\nueva-base-de-datos.png" alt="Database">
                    </div>
                  </div>
              </div>
            </div>
        </mat-card-content>   
      </mat-card>

</div>