<div class="container" fxShow fxHide.xs="false" fxHide.gt-sm="true">
    <mat-card class="card-design">
        <!-- content -->
        <mat-card-content>
          <div fxLayout="column">
            <!-- Column-1 -->
            <div class="title" fxLayout="row" fxFlex="50px" fxLayoutAlign="start center">Hi</div>
            <!-- Column-2 -->
            <div fxLayout="row" >
              <!-- Column-2 Row-1-->
              <div fxLayout="column" fxFlex="100" fxFlexFill  fxLayoutAlign="space-between strech">
                <div  class ="title-tool" fxLayout="row" fxFlex="20px"fxLayoutAlign="center center">Web</div>
              </div>
            </div>
            <!-- Column-3 -->
            <div class="card-text" fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
                Design and create mockups, and then turn those designs into an interactive prototype to collect feedback.
            </div>
            <div fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
                <img  src="\assets\img\arte-.png" alt="digital art">
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    
      <mat-card class="card-design">
        <!-- content -->
        <mat-card-content>
          <div fxLayout="column">
            <!-- Column-1 -->
            <div class="title" fxLayout="row" fxFlex="50px"  fxLayoutAlign="start center">Web</div>
            <!-- Column-2 -->

            <!-- Column-3 -->
            <div class="card-text" fxLayout="row" fxFlex="50px"  fxLayoutAlign="center center">
                My main focus these days is designing and building fast, responsive and easy to use sites.
            </div>
            <div fxLayout="row"   fxLayoutAlign="center center">
                <img  src="\assets\img\ux-design.png" alt="Frontend">
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    
      
      <mat-card class="card-design">
        <!-- content -->
        <mat-card-content>
          <div fxLayout="column">
            <!-- Column-1 -->
            <div class="title"  fxLayout="row" fxFlex="50px"  fxLayoutAlign="start center">Backend</div>
            <!-- Column-2 -->
            <div fxLayout="row" >
              <!-- Column-2 Row-1-->
              <div fxLayout="column" fxFlex="100" fxFlexFill  fxLayoutAlign="space-between strech">
                <div class ="title-tool"  fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">Node.Js</div>
                <div class ="title-tool"  fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">Python</div>
                <div class ="title-tool"  fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">Flask</div>
              </div>
            </div>
            <!-- Column-3 -->
            <div class="card-text" fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
                I like to think that I contribute to make things easier for you. Don't worry about programing languages, 
                API integration and Workflow automation. I got this.
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <img  src="\assets\img\servidor.png" alt="Backend">
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    

    
    <!--   <mat-card class="card-design">
    
        <mat-card-content>
          <div fxLayout="column">
    
            <div fxLayout="row" fxFlex="50px" style="background-color: #74edfd" fxLayoutAlign="start center">Design tools</div>
    
            <div fxLayout="row" >
    
              <div fxLayout="column" fxFlex="50" fxFlexFill style="background-color: #fd7474" fxLayoutAlign="space-between strech">
                <div fxLayout="row" fxFlex="20px" style="background-color: #ffa1a1" fxLayoutAlign="center center">column2-1 row1</div>
                <div fxLayout="row" fxFlex="20px" style="background-color: #ffa1a1" fxLayoutAlign="center center">column2-2 row1</div>
                <div fxLayout="row" fxFlex="20px" style="background-color: #ffa1a1" fxLayoutAlign="center center">column2-3 row1</div>
                <div fxLayout="row" fxFlex="20px" style="background-color: #ffa1a1" fxLayoutAlign="center center">column2-3 row1</div>
              </div>
              <div fxLayout="column" fxFlex="50" fxFlexFill style="background-color: #fd7474" fxLayoutAlign="space-between strech">
                <div fxLayout="row" fxFlex="20px" style="background-color: #ffa1a1" fxLayoutAlign="center center">column2-3 row1</div>
                <div fxLayout="row" fxFlex="20px" style="background-color: #ffa1a1" fxLayoutAlign="center center">column2-3 row1</div>
                <div fxLayout="row" fxFlex="20px" style="background-color: #ffa1a1" fxLayoutAlign="center center">column2-3 row1</div>
            </div>
            </div>
    
            <div fxLayout="row" fxFlex="50px" style="background-color: #74edfd" fxLayoutAlign="center center">Design tools</div>
            <div fxLayout="row" fxFlex="50px" style="background-color: #74edfd" fxLayoutAlign="center center">Design tools</div>
          </div>
        </mat-card-content>
      </mat-card> -->
    </div>
    
    
    <div class="container" fxShow fxHide.gt-sm="false" fxHide.lt-md="true">
    
        <mat-card class="card-big">
            <mat-card-content>
                <div fxLayout="row" >
                  <div fxFlex="30"   fxLayoutAlign="end strech">
                    <!-- <div class="title-big"  fxLayout="row"  fxLayoutAlign="end start">-Branding</div> -->
                  </div>
                  <div fxFlex="70" fxFlexOffset="10" fxLayoutAlign="center center">
                    <div fxLayout="column">
                        <div fxLayout="row" >
                          <!-- Column-2 Row-1-->
                          <div fxLayout="column" fxFlex="100" fxFlexFill  fxLayoutAlign="space-between strech">
                            <div class="title-big"  fxLayout="row"  fxLayoutAlign="start start">-Branding</div>
                            <div class ="title-tool-big"  fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">
                              Your  brand  is beyond a logo or a catchphrase and I will work closely with you to understand your story,
                               your business and your passions and take it to the next level.
                            </div>
                          </div>
                        </div>
                        <!-- Column-3 -->
                        <div class="card-text-big" fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
                        </div>
                        <!-- <div fxLayout="row"  fxLayoutAlign="center center">
                         <img  src="\assets\img\arte-digital.png" alt="digital art">
                        </div> -->
                      </div>
                  </div>
                </div>
            </mat-card-content>   
          </mat-card>


          <mat-card class="card-big">
            <mat-card-content>
                <div fxLayout="row" >
                  <div fxFlex="30"   fxLayoutAlign="end strech">
                    <!-- <div class="title-big"  fxLayout="row"  fxLayoutAlign="end start">-Branding</div> -->
                  </div>
                  <div fxFlex="70" fxFlexOffset="10" fxLayoutAlign="center center">
                    <div fxLayout="column">
                        <div fxLayout="row" >
                          <!-- Column-2 Row-1-->
                          <div fxLayout="column" fxFlex="100" fxFlexFill  fxLayoutAlign="space-between strech">
                            <div class="title-big"  fxLayout="row"  fxLayoutAlign="start start">-Digital Marketing</div>
                            <div class ="title-tool-big"  fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">
                              I will work with you to understand your target audience, identify your goals, 
                              and develop a plan of strategies for digital advertising to reach your target 
                              audience and deliver sales conversions and positive ROIs for my clients.
                            </div>
                          </div>
                        </div>
                        <!-- Column-3 -->
                        <div class="card-text-big" fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
                        </div>
                        <!-- <div fxLayout="row"  fxLayoutAlign="center center">
                         <img  src="\assets\img\arte-digital.png" alt="digital art">
                        </div> -->
                      </div>
                  </div>
                </div>
            </mat-card-content>   
          </mat-card>

          <mat-card class="card-big">
          <mat-card-content>
            <div fxLayout="row" >
              <div fxFlex="30"   fxLayoutAlign="end strech">
                <!-- <div class="title-big"  fxLayout="row"  fxLayoutAlign="end start">-Branding</div> -->
              </div>
              <div fxFlex="70" fxFlexOffset="10" fxLayoutAlign="center center">
                <div fxLayout="column">
                    <div fxLayout="row" >
                      <!-- Column-2 Row-1-->
                      <div fxLayout="column" fxFlex="100" fxFlexFill  fxLayoutAlign="space-between strech">
                        <div class="title-big"  fxLayout="row"  fxLayoutAlign="start start">-WEB Design/Development</div>
                        <div class ="title-tool-big"  fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">
                          Bring your brand come to life with results-driven strategies, and draw on my passion 
                          for the best design to stand out from the competition and to make your brand look the
                           very best it can.
                        </div>
                      </div>
                    </div>
                    <!-- Column-3 -->
                    <div class="card-text-big" fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
                    </div>
                    <!-- <div fxLayout="row"  fxLayoutAlign="center center">
                     <img  src="\assets\img\arte-digital.png" alt="digital art">
                    </div> -->
                  </div>
              </div>
            </div>
        </mat-card-content>   
      </mat-card>

      <mat-card class="card-big">
        <mat-card-content>
          <div fxLayout="row" >
            <div fxFlex="30"   fxLayoutAlign="end strech">
              <!-- <div class="title-big"  fxLayout="row"  fxLayoutAlign="end start">-Branding</div> -->
            </div>
            <div fxFlex="70" fxFlexOffset="10" fxLayoutAlign="center center">
              <div fxLayout="column">
                  <div fxLayout="row" >
                    <!-- Column-2 Row-1-->
                    <div fxLayout="column" fxFlex="100" fxFlexFill  fxLayoutAlign="space-between strech">
                      <div class="title-big"  fxLayout="row"  fxLayoutAlign="start start">-SEO</div>
                      <div class ="title-tool-big"  fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">
                        I can help you improve your website's ranking in search engines,
                         which will help you attract more traffic to your website.
                      </div>
                    </div>
                  </div>
                  <!-- Column-3 -->
                  <div class="card-text-big" fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
                  </div>
                  <!-- <div fxLayout="row"  fxLayoutAlign="center center">
                   <img  src="\assets\img\arte-digital.png" alt="digital art">
                  </div> -->
                </div>
            </div>
          </div>
      </mat-card-content>   
    </mat-card>

    <mat-card class="card-big">
      <mat-card-content>
          <div fxLayout="row" >
            <div fxFlex="30"   fxLayoutAlign="end strech">
              <!-- <div class="title-big"  fxLayout="row"  fxLayoutAlign="end start">-Branding</div> -->
            </div>
            <div fxFlex="70" fxFlexOffset="10" fxLayoutAlign="center center">
              <div fxLayout="column">
                  <div fxLayout="row" >
                    <!-- Column-2 Row-1-->
                    <div fxLayout="column" fxFlex="100" fxFlexFill  fxLayoutAlign="space-between strech">
                      <div class="title-big"  fxLayout="row"  fxLayoutAlign="start start">-Conversion Rate Optimization</div>
                      <div class ="title-tool-big"  fxLayout="row" fxFlex="15px" fxLayoutAlign="center center">
                        Customized solutions to increase the percentage of visitors that take conversion actions on your website. 
                      </div>
                    </div>
                  </div>
                  <!-- Column-3 -->
                  <div class="card-text-big" fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
                  </div>
                  <!-- <div fxLayout="row"  fxLayoutAlign="center center">
                   <img  src="\assets\img\arte-digital.png" alt="digital art">
                  </div> -->
                </div>
            </div>
          </div>
      </mat-card-content>   
    </mat-card>


    </div>