<div class="container">
<mat-card class="card mat-elevation-z0 outline">
  <!-- content -->
  <mat-card-content>
    <div fxLayout="column">
      <!-- Column-1 -->
      <!-- Column-2 -->
      <div fxLayout="row">
        <!-- Column-2 Row-1-->
        <div class = "intro" fxLayout="column" fxFlex="30"   fxLayoutAlign="start center">
          <div fxLayout="row" fxFlex="50%" fxFlexFill fxLayoutAlign="end center"><mat-card-subtitle>Hi, my name is</mat-card-subtitle></div>
          <div fxLayout="row" fxFlex="50%" fxFlexFill  fxLayoutAlign="end start"><mat-card-title>Eder</mat-card-title></div>
         
        </div>
        <!-- Column-2 Row-2-->
<!--         <div fxLayout="row" fxFlex="70" fxFlexFill style="background-color: #e8fd74" fxLayoutAlign="space-around strech">
          <div fxFlex="30" style="background-color: #f1fac0" fxLayoutAlign="center center">column2, row2-1</div>
          <div fxFlex="30" style="background-color: #f1fac0" fxLayoutAlign="center center">column2, row2-2</div>
          <div fxFlex="30" style="background-color: #f1fac0" fxLayoutAlign="center center">column2, row2-3</div>
        </div> -->
      </div>
      <!-- Column-3 -->
      <div class="about" fxLayout="row">
        <div fxFlex="30"  fxLayoutAlign="end start">
          <img  src="\assets\img\logo.png" alt="Eder Software developer"></div>
        <div fxFlex="70"  fxLayoutAlign="start start">
          <p class="dashboard-card-content">I’m a software engineer located in Guadalajara, especialized 
            in building web stuff and databases with high attention to detail.</p></div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
</div>