<div class="container">
<mat-card class="card mat-elevation-z0 outline" fxShow fxHide.xs="false" fxHide.gt-sm="true">
  <!-- content -->
  <mat-card-content>
    <div fxLayout="column">
      <!-- Column-1 -->
      <!-- Column-2 -->
      <div fxLayout="row">
        <!-- Column-2 Row-1-->
        <div class = "intro" fxLayout="column" fxFlex="30" fxLayoutAlign="start center">
          <div fxLayout="row" fxFlex="50%" fxFlexFill fxLayoutAlign="end center"><mat-card-subtitle>Hi, my name is</mat-card-subtitle></div>
          <div fxLayout="row" fxFlex="50%" fxFlexFill  fxLayoutAlign="end start"><mat-card-title>Eder</mat-card-title></div>
         
        </div>
      </div>
      <!-- Column-3 -->
      <div class="about" fxLayout="row">
        <div fxFlex="30"  fxLayoutAlign="end start">
          <img  src="\assets\img\logo.png" alt="Eder Software developer"></div>
        <div fxFlex="70"  fxLayoutAlign="start start">
          <p class="dashboard-card-content">I’m a Software Engineer located in Guadalajara, especialized 
            in building web stuff and databases with high attention to detail.</p></div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

  <mat-card class="card-greater mat-elevation-z0 outline" fxShow fxHide.lt-md="true" fxHide.gt-md="false">
    <mat-card-content>
      <div fxLayout="column">
        <div fxLayout="row">
          <div class = "intro-greater" fxLayout="column" fxFlex="100" fxLayoutAlign="center center">
            <div class="sub-greater" fxLayout="row" fxFlex="100%" fxFlexFill fxLayoutAlign="center center"><mat-card-subtitle>Hi, my name is</mat-card-subtitle></div>
            <div class="title-greater" fxLayout="row" fxFlex="100%" fxFlexFill  fxLayoutAlign="center center"><mat-card-title>Eder</mat-card-title></div>
            <div class="greater" fxLayout="row" fxFlex="100%" fxFlexFill  fxLayoutAlign="center center"><img src="\assets\img\logo.png" alt="Eder Software developer"></div>
            <div fxLayout="row" fxFlexFill  fxLayoutAlign="center center">
              <p class="dashboard-card-content-greater">I’m a software engineer located in Guadalajara, especialized 
                in building web stuff and databases with high attention to detail.</p></div>
          </div>
          </div>
        </div>
    </mat-card-content>
  </mat-card>


  
  </div>