
body, html{
  font-size: 100%;
}
.container{
    height: 100vh;
    background: #FBF8F1;
}

  .card {
    background: #FBF8F1;
    position: absolute;
    top: 30%;
    margin-left: 0px;
    right: 0px;
    bottom: 0px;
    min-width: 300px;
  }
  
  .dashboard-card-content {
    text-align: left;
    margin-top: 0px;
    margin-left: 15px;
  }

  mat-card-subtitle{
    font-size: .85rem;
    margin-left: 5px;
  }

  mat-card-title{
    font-size: 2.197rem;
    margin-top: 5px;
    margin-bottom: 15px;
  }

img {
  margin-top: 5px;
    max-width: 62px;
    max-height: 62px;
    min-width: 52px;
    min-height: 52px;
  }

  .intro{
    height: 80px;
  }

  .about{
    height: 100px;
  }
  